<?xml version="1.0" encoding="UTF-8"?>

<settings>

    <servers>

		<server>
			<id>xeo-release</id>
			<username>pipelines</username>
			<password>${XEOMAR_REPO_PIPELINES_SECRET}</password>
		</server>

		<server>
			<id>xeo-snapshot</id>
			<username>pipelines</username>
			<password>${XEOMAR_REPO_PIPELINES_SECRET}</password>
		</server>

    </servers>

</settings>